.DS_Store
*.o
main
UpdateOS*.zip
*.pyc
fw_dir/mother
tmp
platforms/organelle/extra/pkg/avahi-0.7-1-armv7h.pkg.tar.xz
platforms/organelle/extra/pkg/cython2-0.26.1-1-armv7h.pkg.tar.xz
platforms/organelle/extra/pkg/dnsmasq-2.75-1-armv7h.pkg.tar.xz
platforms/organelle/extra/pkg/hostapd-2.5-2-armv7h.pkg.tar.xz
platforms/organelle/extra/pkg/iw-4.3-1-armv7h.pkg.tar.xz
platforms/organelle/extra/pkg/nss-mdns-0.10-6-armv7h.pkg.tar.xz
platforms/organelle/extra/pkg/unzip-6.0-12-armv7h.pkg.tar.xz
platforms/organelle/extra/pkg/zip-3.0-7-armv7h.pkg.tar.xz
platforms/organelle/extra/python/cheroot-5.8.0-py2.py3-none-any.whl
platforms/organelle/extra/python/CherryPy-11.0.0-py2.py3-none-any.whl
platforms/organelle/extra/python/pip-9.0.1-py2.py3-none-any.whl
platforms/organelle/extra/python/portend-2.1.2-py2.py3-none-any.whl
platforms/organelle/extra/python/pyliblo-0.10.0-cp27-cp27mu-linux_armv7l.whl
platforms/organelle/extra/python/pytz-2017.2-py2.py3-none-any.whl
platforms/organelle/extra/python/six-1.10.0-py2.py3-none-any.whl
platforms/organelle/extra/python/tempora-1.8-py2.py3-none-any.whl
platforms/organelle/rootfs/etc/nsswitch.conf
platforms/organelle/rootfs/etc/ssh/sshd_config
platforms/organelle/rootfs/etc/udev/rules.d/70-wifi-powersave.rules
platforms/organelle/rootfs/root/.bash_profile
platforms/organelle/rootfs/root/.jwmrc
platforms/organelle/rootfs/root/.pdsettings
platforms/organelle/rootfs/root/.vimrc
platforms/organelle/rootfs/root/.config/SuperCollider/startup.scd
platforms/organelle/rootfs/root/.ssh/environment
platforms/organelle/rootfs/root/Desktop/sdcard.desktop
platforms/organelle/rootfs/root/Pd/externals/abl_link~.pd_linux
platforms/organelle/rootfs/root/Pd/externals/libabl_link~.so
platforms/organelle/rootfs/root/Pd/externals/override.pd
platforms/organelle/rootfs/root/Pd/externals/override2.pd
platforms/organelle/rootfs/root/Pd/externals/packOSC-help.pd
platforms/organelle/rootfs/root/Pd/externals/packOSC.pd_linux
platforms/organelle/rootfs/root/Pd/externals/pvu~-help.pd
platforms/organelle/rootfs/root/Pd/externals/pvu~.pd_linux
platforms/organelle/rootfs/root/Pd/externals/routeOSC-help.pd
platforms/organelle/rootfs/root/Pd/externals/routeOSC.pd_linux
platforms/organelle/rootfs/root/Pd/externals/shell-help.pd
platforms/organelle/rootfs/root/Pd/externals/shell.pd_linux
platforms/organelle/rootfs/root/Pd/externals/slipdec-help.pd
platforms/organelle/rootfs/root/Pd/externals/slipdec.pd_linux
platforms/organelle/rootfs/root/Pd/externals/slipenc-help.pd
platforms/organelle/rootfs/root/Pd/externals/slipenc.pd_linux
platforms/organelle/rootfs/root/Pd/externals/tb_peakcomp~-help.pd
platforms/organelle/rootfs/root/Pd/externals/tb_peakcomp~.pd_linux
platforms/organelle/rootfs/root/Pd/externals/udpreceive-help.pd
platforms/organelle/rootfs/root/Pd/externals/udpreceive.pd_linux
platforms/organelle/rootfs/root/Pd/externals/udpsend-help.pd
platforms/organelle/rootfs/root/Pd/externals/udpsend.pd_linux
platforms/organelle/rootfs/root/Pd/externals/unpackOSC-help.pd
platforms/organelle/rootfs/root/Pd/externals/unpackOSC.pd_linux
platforms/organelle/rootfs/usr/lib/systemd/system/cherrypy.service
platforms/organelle/rootfs/usr/lib/systemd/system/createap.service
